<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../templates/head.ejs') %>
  </head>
  <body>
    <%- include ('../../templates/navbar.ejs') %>
    <div class="container mt-5">
      <%- include ('../../templates/lightEffects.ejs') %>
      <hr />
      <%- include ('../../templates/lightsGrid.ejs') %>
    </div>
    <%- include ('../../templates/scripts.ejs') %>
  </body>
</html>
